.loginPage {
    background: url('Images/employeems.jpg');
    background: linear-gradient(rgba(11, 11, 11, 0.5), rgba(10, 10, 10, 0.5)), url('Images/employeems.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 120%;
}

.loginForm {
    background-color: rgba(187, 141, 183, 0.6);
    color: white;
}

.loginHead {
    background-color: rgba(248, 245, 248, 0.6);
    color: white;
}

.main_div{
    position: fixed;
}

.navbg{
    background-color: rgb(155, 161, 159);
    overflow-y: scroll;
    width: fit-content;
    height: 100vh;
    
}

#main_contaner{
    height: 100vh;
}

ul li :hover {
    background-color: rgb(212, 206, 206);
}

.employee_image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo_image {
    width: 90px;
    height: 60px;
    border-radius: 40%;
}

.emp_det_image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

#notification-bg{
    background-color: white;
    width: 95%;
    margin-left: 3%;
    border: .1px solid rgb(228, 225, 225);  
    border-radius: 5px;
    
}

.bgcolor {
    background-color: white;
    flex-wrap: nowrap;
}

.input-t{
    outline: none;
    background-color: rgb(241, 250, 235);
}

/* className={({isActive}) => `nav-link text-white px-0 align-middle ${isActive ? "bg-danger" : "bg-warning"}`} */

/* className={toggle === 1 ? "color-y" : "color-n"} */

 .active{
    background-color: rgb(94, 90, 90);
    
}
.tab-container{
    display: none;
}
.show-tab-container{
    display: block;
}
.color-y{
    background-color: rgb(175, 161, 172);
    border-radius: 2px;
    border-bottom: 2px solid rgb(8, 8, 26);
    height: 42px;
}

.select-w{
    width: 22%;
    height: 35px;
    margin-left: 3px;
}
.notification-detail{
    margin-top: 12%;
    background-position: center;
}

#salary-bg{
    background-color: white;
    width: 100%;
    height: auto;
    border: .1px solid rgb(228, 225, 225);  
    border-radius: 5px;
}
.salary-container-color{
    background-color: rgb(224, 238, 233);
    width: 100%;
}
.salary-search-input{
    background-color: rgb(235, 244, 250);
    border: 1px rgb(2, 48, 66) solid;  
}
.border-i{
    border: 1px rgb(169, 178, 182) solid;
    border-radius: 8px;
    width: 25px;
    height: 25px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
}
.border-s{
    border: 1px rgb(169, 178, 182) solid;
    border-radius: 8px;
    width: auto;
    height: 25px;
    margin-top: 1px;
    outline: none;
}

.salary-search{
    background-color: rgb(223, 226, 220);
    border: 1px rgb(2, 48, 66) solid;
    justify-content: center;
}
.salary-search:hover{
    background-color: rgb(161, 163, 159);
}
.multi-select{
    width: 20%;
}

#dat{
    cursor: pointer;
    height: 4.7vh;
    background-color: white;
}
.lab{
    border: 1px rgb(119, 117, 124) solid;
    border-radius: 5px;
    width: 15vw;
    height: 5vh;
}

.size-a{
    height: 5vh;
    width: 15vw;
    border: 1px rgb(119, 117, 124) solid;
}
.category-bg{
    width: 82vw;
    margin-left: 1px;
}

.add_emp_bg{
    height: 100vh;
    overflow-y: scroll;
}
.home_bg{
    width: 82vw;
}
.emp_menu_bg{
    width: 82vw;
}
.emp-menu{
    height: 30vh;
}
#attendence-bg {
    background-color: rgb(245, 238, 238);
    overflow: scroll;
    width: 82vw;
    height: 100vh;
}
.calculate_salary_bg {
    background-color: rgb(245, 238, 238);
    overflow-y: scroll;
    width: 82vw;
    height: 100vh;
}
.report_bg {
    background-color: rgb(245, 238, 238);
    width: 82vw;
    height: 100vh;
    flex-wrap: nowrap;
    overflow-y: scroll;
}
.report_menu_bg{
    background-color: white;
}

::-webkit-scrollbar{
    width: .5rem;
}
::-webkit-scrollbar-track{
    background-color: rgb(99, 90, 90);
}
::-webkit-scrollbar-thumb{
    background-color: rgb(217, 228, 228);
    border-radius: 3rem;
    border: .1rem solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover{
    background-color: rgb(195, 219, 151);
}

#blink-bg{
    margin-left: 8px;
    color: white; 
    background: rgb(218, 25, 25); 
    font-size: 10px; 
    padding: 0px 4px; 
    border-radius: 10px; 
    width: 10px; 
    text-align: center; 
    height: 16px;
    animation: blinkPulse 1s infinite;
}
@keyframes blinkPulse{
    0%{
        opacity: 1;
        }
    100%{
        opacity: 2;
        text-shadow: 1px 0px 3px 3px rgb(218, 25, 25);
        }
    0%{
        opacity: 1;
        box-shadow: 1px 0px 3px 3px rgb(218, 25, 25);
        }
}
